.sucesso-card1 {
  width: 850px;
  height: 600px;
  background-color: #1d1f27;
  border-radius: 50px;
  padding: 40px 60px;
  text-align: center;
  box-shadow: -4px 4px 20px 0px rgba(0,0,0,0.5);
  color: #FFFFFF;
}

.sucesso-title1 {
  font-size: 40px;
  font-weight: 750;
  margin-bottom: 30px;
  margin-top: 30px;
}

.sucesso-icon1 .circle1 {
  width: 250px;
  height: 250px;
  border: 6px solid #0076ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto 50px;
}

.check1 {
  margin-bottom: 25px;
  color: #0076ff;
  font-size: 200px;
  line-height: 1;
}

.sucesso-message1 {
  font-size: 20px;
  color: #cccccc;
}

.botao-voltar-login1 {
  margin-top: 25px;
  background-color: #0066ff;
  color: white;
  font-weight: 700;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background 0.3s;  
  font-size: 16px;
  font-family: 'Inter';
  padding: 11px 20px;
}

.botao-voltar-login1:hover {
  background-color: #005bb7;
}

/* --- PARTE RESPONSIVA --- */
@media (max-width: 768px) {

  .sucesso-card1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .sucesso-icon1 .circle1 {
    width: 180px;
    height: 180px;
    border-width: 5px; 
    margin: 30px auto; 
  }

  .check1 {
    font-size: 140px;
    margin-bottom: 15px; 
  }

  .sucesso-title1 {
    font-size: 32px;
    margin-top: 0; 
    margin-bottom: 20px;
  }

  .sucesso-message1 {
    font-size: 18px;
  }

  .botao-voltar-login1 {
    margin-top: 35px;
  }
}